.idea/
.vscode/
node_modules/
build/
tmp/
temp/

*.env
!config/development.env
!config/local.env

.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars
*.tfbackend

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions